* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* padding: 20px; */
  background-color: azure;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  background-color: white;
  width: 100vw;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.title-logo p {
  font-size: 30px;
  font-weight: bolder;
}
.title-logo p a {
  color: rgb(17, 114, 4);
  text-decoration: none;
}
.title-logo p a:hover {
  opacity: 0.5;
}
nav .nav-bar-left ul {
  display: flex;
  justify-content: space-evenly;
  /* background-color: green; */
  list-style: none;
  font-weight: bold;
}

nav .nav-bar-left {
  /* flex: 1; */
  width: 300px;
}

nav .nav-bar-left ul li a {
  text-decoration: none;
  color: rgb(17, 114, 4);
  transition: 0.3s;
}
nav .nav-bar-left ul li a:hover {
  opacity: 0.5;
}
@media (max-width: 640px) {
  nav {
    flex-direction: column;
    height: 100px;
    margin-bottom: 10px;
  }
  .title-logo {
    margin-bottom: 10px;
    border-bottom: solid gray 1px;
    width: 100%;
    padding-bottom: 5px;
  }
}
